<div class="footer">
  <div class="last-bar">
    <div class="footer-left rtl">
      <a referrerpolicy='origin' target='_blank'
        href='https://trustseal.enamad.ir/?id=413238&Code=hekyT6pnbogA6sLUq38GTvCe2LgEfS53'><img referrerpolicy='origin'
          src='https://trustseal.enamad.ir/logo.aspx?id=413238&Code=hekyT6pnbogA6sLUq38GTvCe2LgEfS53' alt=''
          style='cursor:pointer;width: 80px;' Code='hekyT6pnbogA6sLUq38GTvCe2LgEfS53'></a>
      <a href="#">کلیه حقوق این سایت متعلق به اطلس نگار عصر داده می باشد.</a>
    </div>
    <div class="footer-right rtl">
      <a href="#"><i class="glyphicon glyphicon-phone"></i> 021-91030950</a>
      <a href="#"><i class="glyphicon glyphicon-envelope"></i> info@hsfind.ir</a>
    </div>
  </div>
</div>