<app-header-site></app-header-site>
<div class="main-body main row">
    <div class="row rtl">
        <div class="col-xs-12">
            <div class="article col-xs-12">
                <img style="max-width: 100%;margin: 0 auto;display: block;" src="assets/images/access-denied.png" />
                <div class="col-xs-12 text-center">
                    <button
                        style="border: 0;padding: 5px 25px;background: #7a26c1;color: #fff;display: block;margin: 0px auto;"
                        routerLink="/">بازگشت به صفحه اصلی</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-site></app-footer-site>