<app-header-site></app-header-site>
<div class="main-body main row">

    <div class="row rtl">
        <div class="col-xs-12">
            <div class="article">
                <h2>درباره ما</h2>
                <p>
                    شركت اطلس نگار عصر داده، شركتي فعال در حوزه ارائه راه حل هاي مبتني بر داده براي حل برخي از چالش هاي
                    تجار و توليد كننده مي باشد كه از سال 1400 كار خود را با ارائه سامانه استعلام شركت هاي خارجي آغاز
                    كرد. اين شركت با ارائه سامانه هاي نرم افزاري متعدد مبتني بر وب و موبايل، سعي بر تسهيل و تسريع سازي
                    فرآيند تجارت دارد كه تا كنون با استفاده از نيروهاي متخصص در دو حوزه مطالعات و توسعه نرم افزار،
                    توانسته است سامانه هایی براي اين امر توسعه دهد. شناخت جامع از فرآيند تجارت، نياز تجار و توليد كننده،
                    نيروهاي متخصص براي مدل سازي راه حل ها و پياده سازي اين مدل ها از جمله خصوصيات اين شركت مي باشد.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer-site></app-footer-site>