.product-title {
  float: right;
  background: #fff;
  font-size: 20px;
  padding: 6px 12px;
  min-width: 250px;
  direction: rtl;
  text-align: justify;
  font-weight: 900;
}



.google-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
}

.nav-search {
  height: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.search-bar {
  height: auto;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  background: #fff;
}

svg {
  height: 24px;
  width: 24px;
}

.search-icon {
  padding: 3px 10px 0px 10px;
  color: rgba(140, 140, 140, 0.925);
  font-size: 0.85rem;
}

.input-area {
  width: 100%;
}

input {
  height: 35px;
  width: 96% !important;
  border: none;
  outline: none;
  font-size: medium;
  padding: 4px 20px;
  margin: 0 13px;
}

.voice-icon {
  padding: 3px 5px 0px 8px;
}

.camera-icon {
  padding: 3px 0px 0px 5px;
}

.search-icon:hover {
  cursor: default;
}

.icons-pointer:hover {
  cursor: pointer;
}

.twobuttons {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 4.5px;
  background-color: #7a26c1;
  width: 150px;
  height: 50px;
  border: 1px solid #f8f9fa;
  margin: 0;
  font-size: 16px;
  color: rgb(255 255 255);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

button:hover {
  border: 1px solid lightgray;
  box-shadow: 0 1px 1px 1px rgba(133, 129, 136, 0.15),
    0 1px 1px 0 rgba(111, 117, 122, 0.3);
}

.search-bar:hover {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search-bar:active {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.languages {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offered-in {
  margin-right: 5px;
  color: rgb(82, 82, 82);
  font-size: smaller;
}

.three-lang {
  margin-right: 12px;
}

.three-lang a {
  padding: 2.5px;
}

.pak {
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  background-color: #f3f3f3;
}

.pak p {
  padding-left: 32.5px;
}



@media (max-width: 1024px) {
  #one {
    width: 370px;
  }

  .search-bar {
    width: 490px;
  }

  img {
    height: 100%;
    width: 230px;
  }
}

@media (max-width: 768px) {
  #one {
    width: 270px;
  }

  .search-bar {
    width: 390px;
  }

  img {
    height: 100%;
    width: 210px;
  }

  button {

    width: 150px;
    height: auto;
    padding: 10px;
  }

  .last-bar {
    padding: 0px 15px;
  }

  .pak p {
    padding-left: 15.5px;
  }
}

@media (max-width: 425px) {
  #one {
    width: 210px;
  }

  .search-bar {
    width: 330px;
  }

  img {
    height: 100%;
    width: 180px;
  }

  button {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 375px) {
  #one {
    width: 160px;
    height: 30px;
  }

  .search-bar {
    width: 280px;
  }

  img {
    height: 100%;
    width: 170px;
  }

  button {
    width: 80px;
    height: auto;
    font-size: small;
  }

  .search-bar {
    height: 40px;
  }

  @media (max-width: 320px) {
    #one {
      width: 105px;
      height: 25px;
    }

    .search-bar {
      width: 225px;
    }

    img {
      height: 100%;
      width: 160px;
    }

    button {
      width: 80px;
      height: auto;
      font-size: smaller;
    }

    .last-bar {
      font-size: 11px;
    }

    .footer-right {
      margin-right: 10px;
    }
  }
}