<app-header-site></app-header-site>
<!-- Main Body Starts -->
<div class="col-xs-12 pull-left" style="padding:0;">


  <div class="col-md-8 col-xs-12 pull-right p-0">
    <span class="product-title">
      {{ product.title }}
      <br>
      کشور
      {{ sourceCountryName }}
    </span>
  </div>

  <div class="col-md-4 col-xs-12 pull-left rtl p-0">
    <label>کشور مقصد</label>
    <ng-select (change)="getRules()" [(ngModel)]="destinationCoutryCode">
      <ng-option *ngFor="let cnt of contries" [value]="cnt.code">
        <span class="fi fi-{{cnt.iso.toLowerCase() }} "></span>
        {{cnt.officialName}}
      </ng-option>
    </ng-select>
  </div>
  <style>
    .ng-select-container {
      height: 45px !important;
    }
  </style>

</div>
<div class="main-body main">

  <div class="col-xs-12 p-0">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" *ngFor="let item of rules;let i=index;">
        <div class="panel-heading" role="tab" id="collapse-heading-{{item.code}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.code}}"
              aria-expanded="true" aria-controls="collapseOne">
              {{item.title}}
            </a>
          </h4>
        </div>
        <div id="collapse{{item.code}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul class="list-ul">
              <li class="list-li" *ngFor="let measure of item.measures;let j=index;">
                <div class="list-title">
                  {{measure.title}}
                </div>
                <div class="list-summary">
                  {{measure.summary}}
                </div>
                <div class="table-row" *ngFor="let requirement of measure.requirements;let k=index;">
                  <div class="col-xs-12 p-0">
                    <span class="key">خلاصه</span>
                    <span class="value">{{requirement.legislationSummary}}</span>
                  </div>
                  <div class="col-xs-12 p-0">
                    <span class="key"> نهاد اجرایی</span>
                    <span class="value">{{requirement.implementationAuthority}}</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 p-0">
                    <span class="key">تاریخ شروع</span>
                    <span class="value">{{requirement.startDate}}</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 p-0">
                    <span class="key">تاریخ پایان </span>
                    <span class="value">{{requirement.endDate}}</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 p-0">
                    <span class="key">نسخه</span>
                    <span class="value">{{requirement.hsRevision}}</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 p-0">
                    <span class="key">سال</span>
                    <span class="value">{{requirement.ntmYear}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Body Ends -->
<app-footer-site></app-footer-site>