<app-header-site></app-header-site>
<div class="main-body main row">

    <div class="row rtl">
        <div class="col-xs-12">
            <div class="article">
                <h2>قوانین و مقررات</h2>
                <p>
                    مسئولیت استفاده از خدمات و محصولات شرکتها، سایتها و اشخاصی که آگهی و اطلاعات آنها در صفحات سایت در
                    حال نمایش است، یا در بخشهای مختلف سایت اقدام به معرفی و تبلیغ خدمات و محصولات خود می کنند، تنها بر
                    عهده استفاده کنندگان و همچنین ارائه دهندگان این خدمات و محصولات می‌باشد و ولیدیفای مسئولیتی در این
                    خصوص ندارد.

                    اینتا در مورد استفاده یا عدم استفاده از خدمات آگهی دهندگان، هیچگونه توصیه ای به اعضاء و
                    بازدیدکنندگان سایت ندارد. در صورت تصمیم به استفاده از خدمات و محصولات معرفی شده در سایت، شخصا از صحت
                    ادعاها و همچنین صداقت و درستی عملکرد شرکتها و افراد اطمینان حاصل کنید.

                    مسئولیت حفظ و نگهداری از نام کاربری و کلمه عبور بعهده شخص ثبت‌نام کننده می‌باشد. از ارائه رمز عبور
                    به دیگران در هر شرایطی خودداری نمایید.

                    کاربران مجاز نیستند محتوای موجود در سایت را با مقاصد تجاری و حتی غیر تجاری بازنشر بدهند . هر گونه
                    کپی برداری از محتوای وب سایت پیگرد قانونی خواهد داشت.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer-site></app-footer-site>