<app-header-site></app-header-site>
<div class="main-body main row">

<!-- Modal -->
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">خرید طرح</h4>
      </div>
      <div class="modal-body">
        برای دیدن جزییات کد hs، تعرفه ها و قوانین مربوط به آن در کشور مطبوع خود می بایست یک طرح فعال داشته باشید.
برای مشاهده و خرید طرح ها روی دکمه خرید طرح کلیک کنید
      </div>
      <div class="modal-footer">
        <button routerLink="/Plans" (click)="removeModal()" type="button" class="btn btn-primary">خرید طرح</button>
      </div>
    </div>
  </div>
</div>




    <div class="row rtl">
        <div class="col-xs-12">
            
            <div class="col-xs-12"></div>
            <div *ngFor="let item of activePlans;" class="current-plan active-plan pull-right col-md-4 col-xs-12">
              <h3>{{ item.name }}</h3>
              <ul>
                <li>
                  <span class="key">قیمت</span>
                  <span class="value"> 
                    <div *ngIf="item.exhibitingPrice !== null">
                      <b class="discount">{{ item.exhibitingPrice  | number}} ریال </b>
                      <b class="real">{{ item.price | number }} ریال </b> 
                    </div>
                    <div *ngIf="item.exhibitingPrice == null">
                      {{ item.price  | number }} ریال 
                    </div>
                  </span>
                </li>
                <li>
                  <span class="key">تعداد درخواست</span>
                  <span class="value"> {{ item.requestsCount }}</span>
                </li>
                <li>
                  <span class="key">مدت</span>
                  <span class="value"> {{ item.validityDays }} روز </span>
                </li>
                <li>
                  <span class="value w-100"> {{ item.description }}  </span>
                </li>
              </ul>
              <div class=""> 
                <button routerLink="/Profile/PlanBuy/{{item.id}}" class="btn btn-success">انتخاب تعرفه</button>
              </div>
            </div>


        </div>
    </div>
</div>
<app-footer-site></app-footer-site>