<app-header-site></app-header-site>
<div class="main-body main row">

    <div class="row rtl">
        <div class="col-xs-12">
            <div class="article">
                <h2>تماس با ما</h2>
                <p>
                 آدرس:
تهران، اتوبان رسالت، بعد از چهار راه سرسبز، بین خیابان ۴۶ و دمیرچی،پلاک ۶۰۲، واحد 2
                </p>
                <p>
                    تلفن:   950 30 910-021
                </p>
                <p>
                    فکس: 09123654987
                </p>
                <p>   
ایمیل: info@inta.info
                </p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d286.2572061691143!2d51.4965189126185!3d35.73530272356651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2KrZh9ix2KfZhiDahtmH2KfYsdix2KfZhyDYs9ix2LPYqNiyINiu24zYp9io2KfZhiA0Ng!5e0!3m2!1sen!2s!4v1700229880655!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-site></app-footer-site>