<!-- Header Starts -->
<header>
  <div class="left-header">
    <div *ngIf="userInfo !== undefined ">
      <i routerLink="/Profile" class="glyphicon glyphicon-user"></i>
      <i (click)="signOut()" class="glyphicon glyphicon-off"></i>
    </div>
  </div>
  <div class="right-header">
    <a><img width="100px" src="assets/images/hsfind.svg" /></a>
    <a class="nav-space" routerLink="" href="#">جستجوی محصول</a>
    <a class="nav-space" routerLink="/Plans" href="#">تعرفه ها</a>
    <a class="nav-space" routerLink="/AboutUs" href="#">درباره ما</a>
    <a class="nav-space" routerLink="/Rules" href="#">قوانین و مقررات</a>
    <a class="nav-space" routerLink="/ContactUs" href="#">تماس با ما</a>
    
    <div *ngIf="userInfo === undefined ">
      <button routerLink="/Login" class="nav-space signin-button" sign-in>
        ورود به سامانه
      </button>
    </div>
  </div>
</header>
<!-- Header Ends -->