/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "iransans";
    src: url("assets/fonts/IRANSansWeb_Light.woff2") format("woff2");
    src: url("assets/fonts/IRANSansWeb_Light.woff") format("woff");
  }
  .rtl{
    direction: rtl;
  }
  .text-jusitfy{
    text-align: justify;
  }
  body{
    font-family: "iransans";
  }